$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
  font-size: 11px !important;
}

ul, li {
  list-style: none;
}

.user-list-header {
  background-color: #000;
  color: #fff;
}

.table > tbody > tr {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.table > tbody > tr > td {
  border-bottom: 1px solid #ddd !important;
  border-top: none !important;
}
.user-item-edit {
  float:right;
}

.datetime {
  white-space: nowrap;
}

.green {
  color: green;
}

a .grey {
  color: grey;
}
